.cover {
  border-image-source: url(Cover.svg);
  border-image-slice: 154;
  border-image-repeat: round;
  border-image-width: 120px;
  border-style: solid;
  
  @apply w-full h-full flex flex-col items-center justify-center;
}

.swipe {
  filter: opacity(30%);
  @apply md:invisible;
}
