.content {
    background-color: #0e413b;
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    @apply flex flex-col min-h-screen;
  }
  