@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600&family=Tiro+Devanagari+Hindi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply font-bold text-green-800 hover:opacity-80 transition duration-300;
}

body {
  @apply w-screen font-sans;
}

.main {
  background-color: #0e413b;
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @apply flex flex-col min-h-screen;
}